/* fonts and stlying */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	color: #8c4f50;
	font-weight: 300;
}

p {
	line-height: 28px;
}

h1 {
	font-size: 29px;
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

i.fa {
	font-size: 21px;
	color: grey;
}

ul {
	margin: 0px;
	padding: 0px;
}


.liner-halfsies {}
.liner-quartsies {}
.liner-quadsies {}

/* header */

header {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #f1dfd2;
	position: relative;
}

/* navigtaion */

nav a {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #8c4f50;
	display: inline;
}

nav ul li {
	padding: 10px;
}

.primary-nav {
	height: 130px;
	width: 100%;
}

.primary-nav .nav-links a {
	font-size: 19px;
}

.nav-links {
	padding: 33px 20px 0px 0px;
}

ul.nav-links, ul.sub-nav-links {
margin-top: 16px;
}

.logo ul {
margin-left: 44px;
}

.logo img {
	position: absolute;
	top: 35px;
}

.logo ul li {
	display: inline;
}

.logo-text {
	font-size: 26px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #89715e;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	left: 120px;
}

a:link {
	color: #8c4f50;
}

a:active {
	color: #c0b08a;
}

a:hover {
	color: #c0b08a;
}

/* image hover */


/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	/* background: #fff; */
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

/*
.effect-zoe {
  transition: all 0.5s ease;
  background:rgba(255,0,0,0.5);
  padding: 10px;
}
.effect-zoe:hover {
  background:rgba(255,0,0,1);
  padding: 20px;
}
*/

figure.effect-zoe {
	background: none;
}


figure.effect-zoe:hover img {
	opacity: 0.6;
}


figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #fff;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 18em;
	left: 26%;
	/* padding: 2em; */
	color: #fff; 
	text-transform: none;
	font-size: 18px;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/* secondary navigation */

.sub-nav {
	width: 100%;
	background-color: #fbfaf8;
	height: 70px;
	border-bottom: 1px solid #e8e4db;
	border-top: 1px solid #e8e4db;
}

.sub-nav .nav-links {
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

.sub-nav-links {
	padding: 8px 25px 0px 40px;
}

/* product menu */

.product-menu ul {
	margin-top: 16px;
}

/* pushdown */

.pushdown {
	height: 280px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;
	display: none;
}

.pushup {

}

.push-exit {

}

.push-content {

}

.contact {

}

.title {

}

/* slider */

.slider-section {

}

.home-slider {
	width: 100%;
	border-bottom: 1px solid #f1dfd2;	
}

.slider-buttons {
	margin: 0px;
}

.slide {
	position: relative;
}

/* sections */

.cat-section {
	height: 750px;
	width: 100%;
}

.secondary-nav {
	height: 100px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #f1dfd2;
}

.media-selection .fl, .media-selection .fr {
	width: 46%;
	height: 100%;
}

.media-selection .fl {
	border-right: 1px solid #f1dfd2;
}

.media-selection h2 {
	text-align: center;
	margin-top: 32px;
}

ul.media-selection {
	margin: 0px;
}

.media .fl, .media .fr {
	width: 46%;
	height: 88%;
}

.media .fl {
	border-right: 1px solid #f1dfd2;
}

.cat-entry {
	bottom: 35px;
	position: relative;
}

.cat-img {
	padding: 90px 30px 0px 60px;
}

/* section - category selection */

.product-section p {
	padding: 10px 45px 0px 55px;
}

img.medium {
	max-width: 275px;
}



/* section - category list */

.category-intro {
	height: 380px; /* change this to larger later */
	background-image: url(file:///Users/sambakersalmon/Documents/web-developer/tom-meyers-studio/core-markup/thomas-meyers-studio-core/images/collage-bg.jpg);
	top: 55px;
	position: relative;
	border-bottom: 1px solid #f1dfd2;
}

.intro {
	width: 50%;
	margin-left: 50px;
	position: relative;
	top: 30px;
}

.intro p {
	font-size: 14px;
}

.category-list {
	height: 1500px; /* figure out how to make this auto */
	text-align: center;
}

.category-list .row .col-md-3 {
	border-right: 1px solid #f1dfd2;
	padding-top: 50px;
}

.category-list .row .col-md-6 {
	padding-top: 50px;
}

img.land-lrg {
	max-width: 400px;
	margin: 0px 10px 60px 10px;
}

img.land-sml, img.port-sml  {
	max-width: 240px;
}

img.land-sml {
	margin: 0px 10px 50px 10px;
}

img.port-sml {
	margin: 0px 10px 40px 10px;
}

/* section - product detail */

.product-detail { 
	height: 790px; 
}

.main-content {
	width: 100%; 
	margin: 0 auto;
	position: relative; 
	top: 140px;
}

.main-columns {
	width: 90%; 
	margin: 0 auto;
	position: relative; 
	top: 55px;
}

.product-section { 
	text-align: center;
	padding-bottom: 89px;
}

.product-detail-section { 
	text-align: center;
	padding-bottom: 89px;
	border-bottom: 1px solid #f1dfd2;
}

.product {}
.product i {}

.product-menu { 
	text-align: center;
}

.product-menu li { 
	display: inline; 
}

li.previous { 
	padding: 22px 20px 15px 20px; 
	border: 1px solid #f1dfd2;
	left: 5px;
	position: relative;
}

li.next { 
	padding: 22px 20px 15px 20px; 
	border: 1px solid #f1dfd2;
	position: relative;
	right: 10px;
}

li.product-title { 
	border: 1px solid #f1dfd2; 
	padding: 18px 19px 14px 20px;
	padding-right: 50%;
}

li.grid-block { 
	padding: 22px 20px 15px 20px; 
	border: 1px solid #f1dfd2;
	position: relative;
	right: 5px;
}

.product-title { 
	color: #8c4f50;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

.fa-expand {
	position: absolute;
	bottom: 215px;
	right: 25px;
}

/* footer */

footer {
	height: 200px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;
	border-top: 1px solid #f1dfd2;	
}

.signup-man {
	padding: 50px 30px 60px 100px;
}

.signup-field {

}

.signup-button {

}

.rightz {
	padding: 25px 90px 0px 0px;
}









