/* fonts and stlying */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	color: #8c4f50;
	font-weight: 300;
}


h1 {
	font-size: 29px;
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

i.fa {
	font-size: 21px;
	color: grey;
}

.liner-halfsies {}
.liner-quartsies {}
.liner-quadsies {}

/* header */

header {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #f1dfd2;
	position: relative;
}

/* navigtaion */

nav a {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #8c4f50;
	display: inline;
}

nav ul li {
	padding: 10px;
}

.primary-nav {
	height: 130px;
	width: 100%;
}

.nav-links {
	padding: 33px 20px 0px 0px;
}

.logo {

}

.logo img {
	position: absolute;
	top: 35px;
}

.logo ul li {
	display: inline;
}

.logo-text {
	font-size: 26px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #89715e;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	left: 120px;
}

a:link {
	color: #8c4f50;
}

a:active {
	color: #c0b08a;
}

a:hover {
	color: #c0b08a;
}

/* secondary navigation */

.sub-nav {
	width: 100%;
	background-color: #fbfaf8;
	height: 70px;
	border-bottom: 1px solid #e8e4db;
	border-top: 1px solid #e8e4db;
}

.sub-nav .nav-links {
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

.sub-nav-links {
	padding: 8px 25px 0px 40px;
}


/* pushdown */

.pushdown {
	height: 280px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;
	display: none;
}

.pushup {

}

.push-exit {

}

.push-content {

}

.contact {

}

.title {

}

/* slider */

.slider-section {

}

.home-slider {
	height: 605px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;	
}

.slider-buttons {

}

.slide {
	position: relative;
	bottom: 16px;
}

/* sections */

.cat-section {
	height: 750px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;	
}

.secondary-nav {
	height: 110px;
	width: 100%;
	bottom: 17px;
	position: relative;
	border-bottom: 1px solid #f1dfd2;
	border-top: 1px solid #f1dfd2;
}

.media-selection .fl, .media-selection .fr {
	width: 46%;
	height: 100%;
}

.media-selection .fl {
	border-right: 1px solid #f1dfd2;
}

.media-selection h2 {
	text-align: center;
	margin-top: 22px;
}

.media .fl, .media .fr {
	width: 46%;
	height: 88%;
}

.media .fl {
	border-right: 1px solid #f1dfd2;
}

.cat-entry {
	bottom: 35px;
	position: relative;
}

.cat-img {
	padding: 90px 30px 0px 60px;
}

/* section - product detail */

.main-content { 
	height: 790px; 
	width: 100%; 
	margin: 0 auto;
	position: relative; 
	top: 140px;
}

.product-section { 
	text-align: center;
	padding-bottom: 89px;
	border-bottom: 1px solid #f1dfd2;
}

.product {}
.product i {}

.product-menu { 
	text-align: center;
}

.product-menu li { 
	display: inline; 
}

li.previous { 
	padding: 22px 20px 15px 20px; 
	border: 1px solid #f1dfd2;
	left: 5px;
	position: relative;
}

li.next { 
	padding: 22px 20px 15px 20px; 
	border: 1px solid #f1dfd2;
	position: relative;
	right: 10px;
}

li.product-title { 
	border: 1px solid #f1dfd2; 
	padding: 18px 19px 14px 20px;
	padding-right: 50%;
}

li.grid-block { 
	padding: 22px 20px 15px 20px; 
	border: 1px solid #f1dfd2;
	position: relative;
	right: 5px;
}

.product-title { 
	color: #8c4f50;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

/* footer */

footer {
	height: 200px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;
	border-top: 1px solid #f1dfd2;	
}

.signup-man {
	padding: 50px 30px 60px 100px;
}

.signup-field {

}

.signup-button {

}

.rightz {
	padding: 25px 90px 0px 0px;
}









