/* fonts and stlying */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	color: #8c4f50;
	font-weight: 300;
}


h1 {
	font-size: 29px;
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

.liner-halfsies {}
.liner-quartsies {}
.liner-quadsies {}

/* navigtaion */

nav a {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #8c4f50;
	display: inline;
}

.primary-nav {
	height: 160px;
	width: 100%;
}

.nav-links {

}

.logo {

}

.logo-text {

}

a:link {
	color: #8c4f50;
}

a:active {
	color: #c0b08a;
}

a:hover {
	color: #c0b08a;
}

/* header */

header {
	width: 100%;
	height: 160px;
}

/* pushdown */

.pushdown {

}

.pushup {

}

.push-exit {

}

.push-content {

}

/* slider */

.slider-section {

}

.home-slider {
	height: 800px;
	width: 100%;
}

.slider-buttons {

}

.slide {

}

/* sections */

.cat-section {
	height: 750px;
	width: 100%;
}

.secondary-nav {
	height: 110px;
	width: 50%;
}

.cat-entry {

}

.cat-img {

}

/* footer */

.footer-section {
	height: 300px;
	width: 100%;
}

.signup-man {

}

.signup-field {

}

.signup-button {

}

.rightz {

}
































