/* fonts and stlying */

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	color: #8c4f50;
	font-weight: 300;
}


h1 {
	font-size: 29px;
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

.liner-halfsies {}
.liner-quartsies {}
.liner-quadsies {}

/* header */

header {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #f1dfd2;
	position: relative;
}

/* navigtaion */

nav a {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #8c4f50;
	display: inline;
}

nav ul li {
	padding: 10px;
}

.primary-nav {
	height: 140px;
	width: 100%;
}

.nav-links {
	padding: 33px 20px 0px 0px;
}

.logo {

}

.logo img {
	position: absolute;
	top: 35px;
}

.logo ul li {
	display: inline;
}

.logo-text {
	font-size: 26px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #89715e;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	left: 120px;
}

a:link {
	color: #8c4f50;
}

a:active {
	color: #c0b08a;
}

a:hover {
	color: #c0b08a;
}

/* pushdown */

.pushdown {
	height: 280px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;
	display: none;
}

.pushup {

}

.push-exit {

}

.push-content {

}

.contact {

}

.title {

}

/* slider */

.slider-section {

}

.home-slider {
	height: 550px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;	
}

.slider-buttons {

}

.slide {

}

/* sections */

.cat-section {
	height: 750px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;	
}

.secondary-nav {
	height: 110px;
	width: 100%;
	bottom: 17px;
	position: relative;
	border-bottom: 1px solid #f1dfd2;	
}

.media-selection .fl, .media-selection .fr {
	width: 46%;
	height: 100%;
}

.media-selection .fl {
	border-right: 1px solid #f1dfd2;
}

.media-selection h2 {
	text-align: center;
	margin-top: 40px;
}



.media .fl, .media .fr {
	width: 46%;
	height: 88%;
}

.media .fl {
	border-right: 1px solid #f1dfd2;
}

.cat-entry {
	bottom: 35px;
	position: relative;
}

.cat-img {

}

/* footer */

footer {
	height: 200px;
	width: 100%;
	border-bottom: 1px solid #f1dfd2;	
}

.signup-man {

}

.signup-field {

}

.signup-button {

}

.rightz {

}









