/* Individual effects */

figcaption p {
	color: #fff;
}

figure.effect-hover {
	z-index: auto;
	overflow: visible;
}

figure.effect-hover:before,
figure.effect-hover h2:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-hover:before {
	box-shadow: 0px 0px 25px 5px rgba(209,182,160,0.7);
	opacity: 0;
}

figure.effect-hover img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-hover:hover:before {
	opacity: 1;
}

figure.effect-hover:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,0,5px);
	transform: perspective(1000px) translate3d(0,0,5px);
}

figure.effect-hover img {
	-webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
	transition: opacity 0.75s, transform 0.75s;
	/*-webkit-transform: scale(1.12);
	transform: scale(1.12); */
	transition: border-color .7s ease-in-out;
    -webkit-transition: border-color .7s ease-in-out;
    -moz-transition: border-color .7s ease-in-out;
    border: 1px solid transparent;
}

figure.effect-hover:hover img {
	opacity: 0.7;
	border-top-color: #b14742;
	border-bottom-color: #b14742;
	border-left-color: #b14742;
	border-right-color: #b14742;
	-webkit-transform: scale(1);
	transform: scale(1);
}


figure.effect-hover figcaption::before,
figure.effect-hover p {
	opacity: 0;
	-webkit-transition: opacity 0.65s, -webkit-transform 0.65s;
	transition: opacity 0.65s, transform 0.65s;
}

figure.effect-hover:hover figcaption::before,
figure.effect-hover:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


/** bring back if I want the text to scale 

	figure.effect-chico p {
		margin: 0 auto;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	} 

**/

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
	}
}