/*!
 * Responsive ISH 
 *
 * Things from me @sambakessalmon
 */

/* ===================== tablet 1439 to 768px =============================== */



@media only screen and (min-width: 920px) and (max-width: 1439px) {
	.flyout, .mail {
		display: none;
	}

}

/* ===================== tablet below 1439 =============================== */


@media (max-width : 1439px) {

}

/* ===================== tablet below 1300 =============================== */

@media (max-width : 1300px) {

}

/* ===================== tablet below 1240px =============================== */

@media (max-width : 1240px) {

}  

/* ===================== tablet below 1200px =============================== */

@media (min-width: 1200px) {

}

/* =============================== mobiles below 1200px =================== */

@media (min-width: 1200px) {

}

/* =============================== mobiles below 1099px =================== */

@media (max-width : 1099px) {

}

/* =============================== mobiles below 1024px =================== */

@media (max-width : 1024px) {

}

/* =============================== mobiles below 920px =================== */

@media (max-width : 920px) {

	.primary-nav {
		display: none;
	}

	li.logo-text {
		font-size: 0px;
	}

	.logo {
		width: 85%;
		margin: 0 auto;
		text-align: center;
	}

}

/* =============================== mobiles below 992px =================== */

@media (min-width: 992px) {

}

/* ===================== tablet 768px to 979px =============================== */

@media (min-width: 768px) and (max-width: 979px) {

}

/* ===================== tablets and mobile below 980px =============================== */

@media (min-width: 980px) {

}

/* ===================== tablets and mobile below 979px =============================== */


@media (max-width: 979px) {

}

/* =============================== mobiles below 992px =================== */

@media (min-width: 992px) {

}

/* =============================== mobiles between 800px and 854px =================== */

@media only screen and (min-width : 800px) and (max-width : 854px) { 
  
}

/* =============================== mobiles between 855px and 960px =================== */

@media only screen and (min-width : 855px) and (max-width : 960px) { 
  
}

/* =============================== mobiles between 961px and 1099px =================== */

@media only screen and (min-width : 961px) and (max-width : 1099px) { 
  
}

/* ===================== tablet 979px to 768px =============================== */

@media (min-width: 768px) and (max-width: 979px) {

}

/* =============================== mobiles below 768 =================== */

@media (min-width: 768px) {

}

/* ===================== Mobiles below 767px =============================== */

@media (max-width: 767px) {

}

/* ===================== Mobiles between 640px and 720px =============================== */


@media (min-width : 640px) and (max-width : 720px) { 

}


/* ===================== Mobiles below 480px =============================== */

@media (max-width: 480px) {

}

/* ===================== Mobiles below 399px =============================== */

@media only screen and (max-width : 399px) {

}
