body {

}

.wrap {
	margin: 0 auto;
	width: 1000px;
}


.clear {
	clear: both;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

nav a {
	text-decoration: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}